# Police Dataset
###        Analysis of Police Dataset with pandas.

In [1]:
import pandas as pd

In [33]:
Police = pd.read_csv(r'E:\DOWNLOAD\Portfolio Content\Python Files\3. Police Data.csv')

In [3]:
Police.head()

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2/20/2005,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,3/14/2005,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

###  1. Remove the column that contains only missing values.

In [5]:
Police.isnull().sum()

stop_date                 0
stop_time                 0
country_name          65535
driver_gender          4061
driver_age_raw         4054
driver_age             4307
driver_race            4060
violation_raw          4060
violation              4060
search_conducted          0
search_type           63056
stop_outcome           4060
is_arrested            4060
stop_duration          4060
drugs_related_stop        0
dtype: int64

In [6]:
Police.drop(columns = "country_name",inplace= True)

In [7]:
Police.head(2)

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

### 2. For Speeding , How many instances were recorded for each Gender type?

In [8]:
Police.head(2)

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [13]:
Police[(Police["violation_raw"] == 'Speeding')].driver_gender.value_counts()

M    25517
F    11686
Name: driver_gender, dtype: int64

### 3. Does gender affect who gets searched during a stop ?

In [14]:
Police.head(2)

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [17]:
Police.groupby("driver_gender").search_conducted.sum()

driver_gender
F     366
M    2113
Name: search_conducted, dtype: int64

### 4. What is the mean stop_duration ?

In [32]:
Police.head(2)

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,NaN,False
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,NaN,False

In [34]:
Police["stop_duration"].value_counts()

0-15 Min     47379
16-30 Min    11448
30+ Min       2647
2                1
Name: stop_duration, dtype: int64

In [36]:
Police["stop_duration"] = Police["stop_duration"].map({"0-15 Min" : 7.5, "16-30 Min" : 24, "30+ Min": 45})

In [37]:
Police["stop_duration"].mean()

12.187420698181345

### 5. Compare the age distributions for each violation.

In [47]:
Police.head(2)
Police.rename(columns = {"driver_age" : "driver age"}, inplace= True)
Police.head(2)

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,7.5,False
1,1/18/2005,8:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,7.5,False

In [52]:
Police.groupby("violation_raw")["driver age"].describe()

,count,mean,std,min,25%,50%,75%,max
violation_raw,,,,,,,,
APB,50.0,35.360000,11.547170,18.0,26.00,34.0,42.75,72.0
Call for Service,786.0,33.717557,13.153832,16.0,23.00,30.0,42.00,86.0
Equipment/Inspection Violation,6507.0,31.682957,11.380671,16.0,23.00,28.0,39.00,81.0
Motorist Assist/Courtesy,127.0,35.464567,12.424244,17.0,25.00,32.0,46.00,63.0
Other Traffic Violation,11876.0,36.736443,13.258350,15.0,25.00,35.0,47.00,86.0
Registration Violation,2240.0,32.656696,11.150780,16.0,24.00,30.0,40.00,74.0
Seatbelt Violation,3.0,30.333333,10.214369,23.0,24.50,26.0,34.00,42.0
Special Detail/Directed Patrol,2298.0,43.549608,11.430333,17.0,35.00,44.0,52.00,78.0
Speeding,37120.0,33.262581,12.615781,15.0,23.00,30.0,42.00,88.0
Suspicious Person,36.0,32.055556,12.741259,18.0,22.75,28.0,41.00,69.0
Violation of City/Town Ordinance,170.0,35.311765,12.532674,18.0,24.00,33.0,46.00,66.0
Warrant,10.0,33.200000,13.489090,20.0,24.25,29.0,38.50,63.0